{
    "singleQuote": false,
    "useTabs": false,
    "tabWidth": 2,
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro",
                "printWidth": 120,
                "tabWidth": 4
            }
        }
    ]
}