---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <button id="scan">Scan</button>
</Layout>

<style>
    input {
        width: 100%;
        border: none;
        outline: none;
        background-color: #2b2b2b;
        color: white;
        padding: 10px;
    }
</style>

<script>
    import { invoke } from "@tauri-apps/api/core";

    const scan = async () => {
        await invoke("scan");
    };

    (document.getElementById("scan") as any).addEventListener("click", scan);
</script>
